.transferCount
	width: 100px
	text-align: center
	font-size: 10px
	line-height: 1.2
	font-weight: 600
	color: #8B9497
	position: absolute
	left: 50%
	border-bottom: 1px solid #D2D5D6
	box-sizing: border-box
	padding-bottom: 6px
	margin-left: -50px
	&::before
		content: ''
		width: 14px
		height: 14px
		display: block
		background: url('./airplane.svg') no-repeat center
		position: absolute
		right: 0
		top: 11px
