@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600')
@import './styles/mixins.sass'

body
	font-family: 'Open Sans', sans-serif
	font-size: 12px
	line-height: 1.5
	font-weight: 400
	-webkit-font-smoothing: antialiased
	margin: 0
	padding: 0

.app
	background-color: #F3F7FA
	min-height: 100vh
	padding-bottom: 50px
	box-sizing: border-box
	&__inner
		width: 820px
		margin: 0 auto
		+clearfix
